<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BLETest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B269B631DDE2F40004CD67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B269B771DDE2F40004CD67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B269B821DDE2F40004CD67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
